:root {
  --bg-primary: #F4F5FB;
  --bg-secondary: #FFFFFF;

  --text-primary: #080B12;
  --text-secondary: #374151;
  --text-tertiary: #9CA3AF;

  --brand: #CA3884;
  --brand-hover: #A52C6B;
  --danger: #C93847;
  --white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-primary);
}

a {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
}

.container {
  max-width: 39.18rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  margin: 1.5rem auto 0;
}

.header-page {
  margin-top: 3.875rem;

  .back-button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--brand);
    margin-bottom: 1rem;

    & img {
      width: 16px;
    }
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}


