:root {
  --bg-primary: #F4F5FB;
  --bg-secondary: #FFFFFF;

  --text-primary: #080B12;
  --text-secondary: #374151;
  --text-tertiary: #9CA3AF;

  --brand: #CA3884;
  --brand-hover: #A52C6B;
  --danger: #C93847;
  --white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-primary);
}

a {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
}

.container {
  max-width: 39.18rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  margin: 1.5rem auto 0;
}

.delete-button, .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-page {
  margin-top: 3.875rem;

  .back-button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--brand);
    margin-bottom: 1rem;

    & img {
      width: 16px;
    }
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

main {
  margin-top: 2.75rem;

  & form {
  
    & .header-form {
    display: flex;
    gap: 1rem;

      & input {
        padding: 0.75rem 0 0.75rem 1.5rem;
        flex-grow: 2;
        border-radius: 0.75rem;
        border: 2px solid var(--border-primary);
      }

      & input::placeholder {
        color: var(--text-tertiary);
      }

      & input:hover {
        border-color: var(--border-hover);
      }

      & input:focus {
        outline: none;
        border-color: var(--brand);
      }
      & button {
        padding: 0.75rem 1.5rem;
        background-color: var(--brand);
        color: var(--white);
        border: none;
        border-radius: 0.75rem;
        cursor: pointer;
      }

      & button:hover {
        background-color: var(--brand-hover);
        
      }
    }

    & ul {
      margin-top: 2.5rem; 
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      & li {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        list-style: none;
        padding: 0.5rem 0.75rem;
        background-color: var(--bg-secondary);
        border-radius: 0.75rem;

        & .item-content {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          & input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;

            width: 16px;
            height: 16px;
            
            border: 1px solid var(--border-primary);
            border-radius: 6px;

            background-color: transparent;
            cursor: pointer;

            position: relative;
          }

          & input[type="checkbox"]:hover {
            border-color: var(--border-hover);
          }

          & input[type="checkbox"]:checked {
            background-color: var(--brand);
            border-color: var(--brand);
          }

          & input[type="checkbox"]:checked::after {
            content: "✓";
            color: white;
            font-size: 12px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          & label {
            color: var(--text-secondary);
          }
        }
      }
    }
  }

  & .alert {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.75rem;
    margin-top: 2.25rem;
    background-color: var(--danger);

    border-radius: 0.75rem;
    
    & div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & p {
      color: var(--white);
      flex-grow: 1;
      }
    }
  }
}

@media (max-width: 390px) {
  .container {
    max-width: 20.375rem;

    & .logo {
      display: none;
    }

    & main {
      & form {
        & .header-form {
          flex-direction: column;
        }
      }

      & .alert {
        margin-bottom: 2.125rem;
      }
    }
  }
}

